/* Global Styles */

body {

    margin: 0;
  
    padding: 0;
  
    font-family: Arial, sans-serif;
  
   }
  
   /* Men Page Styles */
  
   .doctor-page {
  
    background-color: #f7f7f7;
  
   }
  
   .doctor-header {
  
    background-color: #ffffff;
  
    padding: 20px;
  
    display: flex;
  
    align-items: center;
  
    justify-content: space-between;
  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
   }
  
   .logo {
  
    display: flex;
  
    align-items: center;
  
   }
  
   .logo img {
  
    max-height: 40px;
  
    margin-right: 10px;
  
   }
  
   .doctor-nav {
  
    display: flex;
  
    align-items: center;
  
    margin-left: auto;
  
    justify-content: space-between;
  
    padding: 0 20px;
  
    background-color: rgba(255, 255, 255, 0.8);
  
   }
  
   /* Add styles for nav-links, nav-icons, and nav-icon */
  
   .doctor-main {
  
    display: flex;
  
    flex-wrap: wrap;
  
    padding: 20px;
  
    justify-content: center;
  
    gap: 20px;
  
   }
  
   .doctor-card {
  
    max-width: 200px;
  
    text-align: center;
  
    background-color: #ffffff;
  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    padding: 20px;
  
   }
  
   .doctor-card img {
  
    max-width: 100%;
  
    border: 1px solid #e0e0e0;
  
   }

  
   .book-button {
  
    background-color: #007bff;
  
    color: #ffffff;
  
    border: none;
  
    padding: 10px 20px;
  
    font-size: 16px;
  
    cursor: pointer;
  
    transition: background-color 0.3s ease;
  
   }
  
   .book-button:hover {
  
    background-color: #0056b3;
  
   }
  
   .doctor-footer {
  
    padding: 20px;
  
    background-color: #ffffff;
  
    text-align: center;
  
   }